@import './variables.less';

/**
 * Main
 * */
body {
  color: @main-font-color;
  background: @body-bg;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}

/**
 * Main Grid
 * */
.app-grid {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  padding: 2px;
  background: #fff;
  margin-left: 0;
  margin-right: 0;

  &__sidebar {
    background: #e9eff5;
  }
}

/**
 * Buttons
 * */
 .btn-default {
   color: #566d86;
   border-radius: 2px;
   border: 1px solid #d6d6d6;

   &:hover,
   &:focus,
   &:active {
     background-color: #ffffff;
   }

   &--bold {
     font-weight: bold;
   }
   &--small {
     padding: 2px 15px;
   }
   &--officeCard {
     vertical-align: top;
     margin: 0 0 5px 0;
   }
   &--strong {
     border: 1px solid #566d86;

     &:hover,
     &:focus,
     &:active {
       border: 1px solid #416185;
     }
   }
 }
.btn-primary {
  color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  background: #2888d1;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background: #1b7dc7;
  }
  &--small {
    padding: 2px 15px;
  }
  &--officeCard {
    font-weight: bold;
    margin-left: 5px;
  }
  &--offices-continue {
    margin: 0 0 5px 10px; 
  }
}
