@import '../../styles/variables.less';

.offices {
  padding-left: 5%;

  &__header {
    color: #53687e;
    font-size: 30px;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 15px;
    text-transform: uppercase;

    &--grey {
      color: #b9bfc5;
    }
  }

  &__add-action {
    float: left;
  }
  &__amount {
    float: right;
  }
  &__items {
    margin-top: 15px;
  }

  hr.dotted {
    .dotted(#dcdfe2);
    margin: 40px 0;
  }
}
