.header {
  border: none;
  border-radius: 0;
  background: #175786;

  a {
    color: #fff !important;
  }

  .navbar-toggle {
    border-color: #f7f8fa;

    &:hover,
    &:focus {
      background: #054471;
    }

    .icon-bar {
      background: #f7f8fa;
    }
  }
}
